/* 
    CSS Guide 

    1. General Styles
    2. Main Nav
    3. Main Hero Image
    4. Product
    5. Brand Story
    6. Contact Us
    7. Footer
    8. Media Query

 */

/* 1. General Styles */

.hidden {
    display: none;
}

body {
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'Noto Serif', serif; */
}

a {
  text-decoration: none;
  transition: all .5s ease-in-out;
}

input, textarea {
    display: block;
    margin: 0;
    padding: 0;
}

/* 2. Main Nav */

header {
    position: sticky;
    background-image: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0.8) 56%, transparent);
}

#main-nav button {
    background: url(../images/hamburger.svg) center no-repeat;
    border: 0;
    width: 25px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    transition: all .5s ease;
    cursor: pointer;
}
 
#main-nav ul {
    list-style: none;
    padding: 0;
    margin-top: 80px;
}
 
#main-nav ul li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    transition: all 0.3s ease;
}
 
#main-nav ul li a:hover {
    color: #517d59;
}
 
#main-nav ul li {
    margin-bottom: 20px;
}

#burger-con {
    display: none;
}
 
#burger-con.slide-toggle {
    display: block;
    height: 100vh;
    width: 100vw;
    background: #626262;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}
 
#main-nav button.expanded {
    background: url(../images/hamburger-white.svg) center no-repeat;
    transform: rotate(90deg);
    position: absolute;
    z-index: 3;
}

#main-logo {
    text-align: center;
}

#main-logo img {
    height: 60px;
    margin-top: 25px;
}

#main-search {
    text-align: right;
}

#main-search {
    height: 30px;
    margin-top: 30px;
}

#social {
    display: none;
}

/* 3. Main Hero Image */



/* 4. Product */

#products {
    margin-top: 20px;
    margin-bottom: 20px;
}

.carousel {
    position: relative;
    overflow: hidden;
}
  
.carousel-items {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.carousel-control {
    background: #ffffff;
    border-radius: 15px;
    border: none;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    transition: all 0.5s ease-out;
}

.prev {
    left: 5%;
}

.next {
    right: 5%;
    justify-self: right;
}

.product-text {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bolder;
}

.product-text span {
    font-family: 'Noto Serif', serif;
    font-style: italic;
    color: #626262;
}

.sub-text {
    font-size: 1rem;
    font-weight: 300;
    line-height: 120%;
    margin-top: 10px;
}
  

/* 5. Brand Story */

#brand {
    margin-top: 25px;
    padding-top: 35px;
    padding-bottom: 35px;
}

iframe {
    width: 100%;
    height: 245px;
    margin: 0 auto;
}

#brand-text {
    background-color: #E2E0E0;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 7%;
    padding-right: 5%;
    border-radius: 0 50px 0 50px;
}

#brand-title {
    margin-top: 30px;
    font-size: 1.5rem;
    font-family: 'Noto Serif', serif;
    font-weight: bolder;
}

#brand-subtitle {
    margin-top: 10px;
    font-size: 1.2rem;
    font-family: 'Noto Serif', serif;
}

#brand-details {
    margin-top: 20px;
    text-align: left;
    margin-bottom: 30px;
    line-height: 130%
}

#brand-text img {
    width: 40%;
    height: 40%;
    margin: 0 auto;
}

#more {
    background-color: #517d59;
    color: #ffffff;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    padding: 1em 2em;
    margin: 25px auto;
    transition: all 0.5s ease-in-out;
    width: 40%;
}

#more:hover {
    background-color: #ffffff;
    color: #517d59;
    border: solid 1px #517d59;
}

/* 6. Contact Us */

#contact-us-con {
    background-color: #EBD06D;
    padding-bottom: 30px;
    border-radius: 50px 50px 0 50px;
}

#contact-us-con h2 {
    font-family: 'Noto Serif', serif;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

#contact-us-subhead {
    font-family: 'Noto Serif', serif;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
}
  
#contact-us-body {
    line-height: 1.5em;
}
  
#contact-us-1-1 {
    text-align: left;
    font-weight: 600;
    margin-top: 25px;
}
  
#contact-us-1-2 {
    margin-top: 25px;
}
  
#contact-us-1-2 span {
    font-weight: 600;
}
  
#contact-us-2-2 {
    margin-top: 10px;
    margin-bottom: 30px;
}
  
#contact-us-2-2 span {
    font-weight: 600;  
}

#leave-story {
    background-color: #517d59;
    color: #ffffff;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 25px auto;
    transition: all 0.5s ease-in-out;
    width: 70%;
    text-align: center;
}

#leave-story:hover {
    background-color: #ffffff;
    color: #517d59;
    border: solid 1px #517d59;
}

/* 7. footer */

footer {
    padding-top: 20px;
}

#bottom-nav {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#bottom-nav img {
    display: none;
}

#bottom-nav ul li {
    margin-bottom: 23px;
}

#bottom-nav ul li a {
    color: #000000;
    transition: all 0.3s ease;
}

#bottom-nav ul li a:hover {
    border-bottom: solid 1px #517d59;
    color: #517d59;
}

#social-bottom {
    display: flex;
    flex-direction: column;
    justify-self: end;
    margin-top: 30px;
}

#social-bottom img {
    width: 32px;
    height: 32px;
    margin-bottom: 20px;
}

footer p {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

footer p span {
    font-weight: bolder;
}

/* 7. Tablet Screen */

@media screen and (min-width: 768px) {
    #brand-movie {
        height: 546px;
    }

    #social {
        display: none;
    }

    .product-text {
        font-size: 2rem;
    }

    .carousel-control {
        top: 50%;
    }

    .sub-text {
        font-size: 1.2rem;
    }

    iframe {
        height: 100%;
    }

    #brand-text {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 16px;
        margin: 0 auto;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 0 80px 0 80px;
    }

    #brand-title {
        grid-column: 1/-1;
    }

    .brand-subtitle {
        grid-column: 1/-1;
    }

    .brand-details {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    #brand-text img {
        grid-column: 3/-1;
        grid-row: 3/5;
        justify-self: right;
        margin-top: 20px;
        margin-bottom: 30px;
        width: 200px;
        height: 200px;
    }

    #brand-text a {
        grid-column: 1/3;
        grid-row: 4/5;
    }

    #contact-us-con {
        border-radius: 150px 150px 0 150px;
    }

    #contact-us-1-1 {
        text-align: right;
    }

    #leave-story {
        width: 40%;
    }

    #bottom-nav img {
        display: block;
    }

    #social-bottom {
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin-top: 60px;
    }

    #social-bottom img {
        margin-left: 15px;
    }

    /* Brand Story Page */

    #brand-story-hero-con #quatro-movie {
        height: 500px;
    }

    #logo-story-con {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 18px;
        padding-left: 0;
        padding-right: 0;
    }

    #logo-story-con h2 {
        grid-column: 1/-1;
        text-align: center;
    }

    #logo-story-con #old-logo {
        grid-column: 1/2;
        grid-row: 2/4;
        align-self: center;
        justify-self: center;
    }

    #logo-story-con #old-1 {
        grid-column: 2/4;
        grid-row: 2/3;
        margin-left: 5%;
        margin-right: 5%;
    }

    #logo-story-con #old-2 {
        grid-column: 2/4;
        grid-row: 3/4;
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 30px;
        border-bottom: solid 1px #000000;
    }

    #logo-story-con #new-logo {
        grid-column: 1/2;
        grid-row: 4/6;
        align-self: center;
        margin-left: 20px;
    }

    #logo-story-con #new-1 {
        grid-column: 2/4;
        grid-row: 4/5;
        margin-left: 5%;
        margin-right: 5%;
    }

    #logo-story-con #new-2 {
        grid-column: 2/4;
        grid-row: 5/6;
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* 8. Desktop Screen */

@media screen and (min-width: 1200px) {
    
    #main-logo {
        order: -1;
        text-align: left;
    }

    #button {
        display: none;
    }

    #burger-con {
        display: flex;
    }

    #burger-con ul {
        display: flex;
        margin-top: 35px;
    }

    #burger-con ul li {
        display: inline;
        margin-bottom: none;
        padding-bottom: none;
    }

    #burger-con ul li a {
        display: inline;
        color: #000000;
        font-size: 18px;
        font-weight: bolder;
        margin-right: 81px;
        transition: all 0.3s ease;
    }

    #burger-con ul li a:hover {
        border-bottom: solid 1px #517d59;
        color: #517d59;
    }

    #main-search {
        text-align: left;
        margin-top: 30px;  
    }

    #social {
        margin-top: 15px;
        margin-bottom: 15px; 
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end; 
        border-left: solid 2px;   
    }
      
    #social img {
        width: 30px;
        height: 30px;
        margin-left: 15px;

    }

    .product-text {
        font-size: 2rem;
    }

    .carousel-control {
        top: 50%;
    }

    .sub-text {
        font-size: 1.2rem;
    }

    #brand-text {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 16px;
        margin: 0 auto;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 0 80px 0 80px;
    }

    #brand-title {
        grid-column: 1/-1;
        margin-bottom: 0;
    }

    #brand-subtitle {
        grid-column: 1/-1;
        margin-top: 0;
    }

    #brand-details {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    #brand-text img {
        grid-column: 3/-1;
        grid-row: 3/4;
        justify-self: right;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #brand-text a {
        grid-column: 1/-1;
        grid-row: 4/5;
        height: fit-content;
    }

    #leave-story {
        width: 30%;
    }

    #bottom-nav {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
    }

    #bottom-nav img {
        width: 150px;
    }

    #bottom-nav ul {
        display: flex;
        margin-left: 60px;
        margin-top: 20px;
    }

    #bottom-nav ul li {
        display: inline;
        margin-right: 30px;
    }

    #bottom-nav ul li a {
        display: inline;
        font-size: 1.2rem;
    }

    #social-bottom {
        margin-top: 40px;
    }

    #brand-story-hero-con #quatro-movie {
        height: 700px;
    }   
    
    .grid-con #logo-story-con {
        margin-top: 30px;
    }

    #logo-story-con #old-logo {
        grid-column: 1/2;
        grid-row: 2/4;
        align-self: center;
        margin-left: 20px;
        width: 90%;
    }

}

/* 9. Brand Story Page */

#quatro-movie {
    width: 100%;
    height: 300px;
}

#quatro-story-con {
    background-color: #C1CF95;
    border-radius: 0 70px 0 70px;
    margin-top: 30px;
    padding-bottom: 40px;
}

#quatro-story-con h2, #logo-story-con h2 {
    font-size: 1.5rem;
    font-family: 'Noto Serif', serif;
    font-weight: bolder;
    text-align: center;
    margin-top: 30px;
}

#quatro-story-con h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-family: 'Noto Serif', serif;
    text-align: center;
}

#quatro-story-con p, #logo-story-con p {
    margin: 20px 5% 20px 5%;
    text-align: left;
    line-height: 130%
}

#logo-story-con {
    background-color: #C1CF95;
    border-radius: 70px 0 70px 0;
    margin-top: 10px;
    padding-bottom: 40px;
}

#logo-story-con img {
    display: block;
    margin: 30px auto;
}
